body{
  font-family: 'Pacifico';
  text-align: center;
  background-color: #011627;
  color: #FDFFFC;
  border: 40px solid #2EC4B6;
  border-top: 0px;
  margin:0px;
}

p{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  font-size: 1.5em;
  margin-bottom: 10px;
}
#sub{
  border-radius: 25px;
  background: #FF9F1C;
  height: 80px;
  width: 150px;
  font-size: 1em;
  margin-bottom: 4px;
}
